<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bsccs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewPfd" />
        <activity android:name=".Folder" />
        <activity
            android:name=".CollegeErp"
            android:screenOrientation="landscape" />
        <activity android:name=".Syllabus" />
        <activity android:name=".Down_one" />
        <activity android:name=".Pdf" />
        <activity
            android:name=".Timetable"
            android:screenOrientation="landscape" />
        <activity android:name=".My_profile" />
        <activity android:name=".main_header" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>